.card-text-scroll {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.card:hover .card-text-scroll {
    max-height: 250px; 
    transition: max-height 0.3s ease-in; 
}

.card-scrollable {
    overflow-y: auto;
}

img{
    max-height: 200px;
}